/*
* Styles from wikipedia.com
*/

/* Base */
body {
	font-family: sans-serif;
}

a, a:active, a:focus {
  unicode-bidi: embed;
  white-space: nowrap;
  outline: 0;
  color: #165c91;
  text-decoration: none;
}

/* Form */
.pure-form fieldset {
  margin: 0;
  padding: .35em 0 .75em;
  border: 0;
}

/* Search Box */
.search-container {
  float: none;
  margin: 35.2px auto 1.5em;
  margin: 2.2rem auto 1.5em;
  max-width: 95%;
  padding: .3em;
  text-align: center;
  vertical-align: middle;
  width: 540px;
}

.search-container.search-input {
  display: inline-block;
  width: 73%;
  position: relative;
  vertical-align: top;
  margin-right: 8px;
  margin-right: .5rem;
}

input[name="search"]  {
	box-sizing: border-box;
	padding: 8px;
	padding: .5rem;
	font-size: 16px;
	font-size: 1rem;
	line-height: 25.6px;
	line-height: 1.6rem;
	width: 100%;
	padding-right: 102.4px;
	padding-right: 6.4rem;
	height: 43.2px;
	height: 2.7rem;
	background: #fff;
}

/* Search Suggestions */
.suggestions-dropdown {
  position: absolute;
  left: 0;
  z-index: 2;
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
  border: 1px solid #ccc;
  border-top: 0;
  box-sizing: border-box;
}
.suggestion-text {
	text-align: left;
}

.suggestion-link {
  color: inherit;
  display: block;
  position: relative;
  min-height: 70px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  padding: 10px 10px 10px 85px;
  text-decoration: none;
  white-space: normal;
}

.suggestion-title {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0 0 .5em;
  color: #555;
}

.suggestion-thumbnail {
	width: 70px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.suggestion-description {
  font-size: 1em;
  line-height: 1.1em;
  margin: 0;
  color: #666;
}
.thumbnail {
  background-color: #eee;
}
